<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>

<body>
    <header>
        <h1>{{pageTitle}}</h1>
        <br>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About</a></p>
        <p><a href="/project">project</a></p>
        <br>
    </header>